.App {
  flex: auto;
  text-align: center;
  color: #fff;
  background-color: #191919cd;
  margin-left: 0%;
}

.Header {
  background-color: rgba(0, 0, 0, 0.455);
  flex: auto;
  padding: 1.7em;
  text-align:start;
}

.Header img{
  width: 150px;
}

.Sidebar img{
  width: 25px;
  margin: 2em;
  
}

.Sidebar {
  background-color: black;
  margin: 0%;
  padding-left: 60px;
  
}

.Footer {
  background-color: black;
  margin: 0%;
  padding:1% 
}

.sidebar-box{
  background-color: black;
}
.footer-box{
  background-color: red;

}
