body {
  background: linear-gradient(
    95deg,
    rgba(0 , 82 , 65 , 32) 9%,
    rgba(33, 110, 94 , 73) 95%
  );
  margin: 0%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Sidebar img{
  width: 25px;
}
